body {
  background-color: #e3d6ec;
  margin: 0;
}

header {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 100%;
  margin: auto; 
}

.item {
  text-align: center;
  background-color: #fcf9ff;
  padding: 100px;
}

footer {
  text-align: center;
}









@media (max-width: 600px) {
  /* Styles for mobile screens */
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}