.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #e3d6ec;
  margin: 0;
  font-family: "Delius", sans-serif;
}

.navbar-brand {
  position: absolute;
  top: 8px;
}

.carousel-item img {
  max-height: 680px;
  object-fit: cover;
  width: 100%;
}

header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  margin: auto; 
  padding: 10px;
}

.item {
  background-color: #fcf9ff;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
}

.item img {
  padding: 0;
  width: 100%;
  height: auto; /* maintains the image's aspect ratio */
  display: block; /* clears any space after the image */
  border-radius: 8px;
  
}

.item p {
  text-align: center;
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
}









@media (max-width: 600px) {
  /* Styles for mobile screens */
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}