body {
  background-color: #e3d6ec;
  margin: 0;
}

header {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  margin: auto; 
  padding: 10px;
}

.item {
  text-align: center;
  background-color: #fcf9ff;
  padding: 0;
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden; /* Crop the image corners */
}

footer {
  text-align: center;
}









@media (max-width: 600px) {
  /* Styles for mobile screens */
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}