body {
    background-color: #e3d6ec;
}

header {
    text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; 
}

.item {
    text-align: center;
    background-color: #a79caf;
}

footer {
    text-align: center;
}









@media (max-width: 600px) {
  /* Styles for mobile screens */
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}