body {
  background-color: #e3d6ec;
  margin: 0;
}

header {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  margin: auto; 
  padding: 10px;
}

.item {
  text-align: center;
  background-color: #fcf9ff;
  padding: 0;
  border-radius: 8px;
}

.item img {
  padding: 0;
  width: 100%;
  height: auto; /* maintains the image's aspect ratio */
  display: block; /* clears any space after the image */
  border-radius: 8px;
}

.item p {
    padding: 100px 20px;
}

footer {
  text-align: center;
}









@media (max-width: 600px) {
  /* Styles for mobile screens */
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}