body {
  background-color: powderblue;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: snow;
}

h2, h3 {
  text-align: center;
} 

p {
    max-width: 60%; /* paragraph never gets wider than 60% of screen */
    margin: 0 auto; /* centers it horizontally */
    margin-bottom: 20px;
}

hr {
    max-width: 60%; /* paragraph never gets wider than 60% of screen */
    margin: 0 auto; /* centers it horizontally */
}

div {
  margin-top: 20px;
  display: flex; /* line up children side by side */
  gap: 8px; /* space between boxes */
}

div p {
  flex: 1; /* all take equal width */
  background: rgb(71, 131, 138);
  padding: 50px 5px;
  text-align: center;
  font-size: 20px;
  color: snow;
}



