body {
  background-color: powderblue;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: snow;
}

h2, h3 {
  text-align: center;
} 

div { text-align: center; }

div p {
  background: snow;
  display: inline-block;
  width: 33%;            
  margin: 4px;
  padding: 50px 5px;
  box-sizing: border-box;
  vertical-align: top;
 
  
}



