body {
  background-color: powderblue;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: snow;
}

h2, h3 {
  text-align: center;
} 

div {
  display: inline-block;   /* sit next to each other */
  width: 30%;              /* about a third of the page each */
  background-color: snow;
  padding: 16px;
  margin: 4px;
     
}
